#filter {
    height: 70px;
    width: 80vw;
    align-items: center;
    background-color: #ccc4b6;
    display: flex;
    font-size: 1.4em;
}
#filter>select {
    margin: 0 15px;
}
#filter>label {
    margin-left: 25px;
}
#filter>div {
    margin-left: 10vw
}
#filter>div>input {
    margin-right: 25px;
}
.custom-select {
    display: block;
    font-size: 1.1em;
    color: black;
    background-color: rgba(253, 251, 124, 0.705);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.37);
    border-radius: .5em;
}